@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
::after,
::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.mainNav{
    position: fixed;
    height: 10%;
    border: 1px solid;
    width: 100%;
}

.welcome{
    background: url(../assets/images/clouds-g8eee36838_1920.jpg);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rain{
    justify-content: center;
    width: 50%;
    height: 10%;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.rain h1{
 font-size: 30px;
 font-weight: 700;
}

.rain p{
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    height: 30%;
    margin-top: -5px;
}

.mainTwo{
    height: 100%;

}