.bottom{
    bottom: 0;
    height: 10%;
    background-color: $color-gray;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;


&__prevision{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}
.__img{
    height: 50%;
}

.prevision a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: $bleu-fonce;
}

.bottom__carte__carteImg{
    height: 50%;
}

.bottom__carte a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #102a887d;

}

.test{
    color: #000;
}