.mainTwo{
    height: 90%;
    background: linear-gradient(#2442AC, #2834be);

&__top{
    justify-content: center;
    display: flex;
    padding: 15px;


&__rain2{
    justify-content: center;
    margin-top: 30px;
    width: 50%;
    height: 10%;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    &__txt{
        color: white;
    }
}

&__rain2 h1{
 font-size: 25px;
 font-weight: 700;
}
}


&__section {
    background-color: #ffffff23;
    border: 0px;
    border-radius: 5px;
    height: 50px;
    width: 90%;
    display: flex;


&__searchDiv {
    color: #ffffff50;
    height: 50px;
    width: 90%;
}


}
}